.top-navbar {
    padding: 1em;
    background-color: #343a40;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;

    .title {
        font-size: 1em;
        display: inline-block;
    }

    .menu-btn {
        cursor: pointer;
        display: none;
    }
}
    
